<body class="">
    <div class="box">
        <div class="content>
            <nav class="level is-mobile">
                <div class="level-left">
                    <a class="level-item">
                        <span>
                            Home
                        </span>
                    </a>
                    <a class="level-item" href="/trace">
                        <span>
                            Trace
                        </span>
                    </a>
                    <a class="level-item" href="/dashboard">
                        <span>
                            Dashboard
                        </span>
                    </a>
                    <a class="level-item" href="/weather">
                        <span>
                            Weather
                        </span>
                    </a>
                </div>
            </nav>
        </div>
    </div>
    <div class="box">
        <div class="content level is-mobile">
            <span class="level-item">
                Current date: <%- year %>-<%- month %>-<%- day %> <%- hour %>:<%- minute %>:<%- second %>
            </span>
        </div>
    </div>
    <!--<div class="box">
        <button class="button is-success"></button>
    </div>-->
</body>